
.todo-app{
  margin-top: 50px;
}

.button-icon {
  font-size: 3rem;
  padding: 0 1rem;
}

input.entry{
  color: #606c76;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.6rem;
}

ul{
  list-style: none;
  width: 100%;
}

li{
  display: block;
  position: relative;
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.7rem 1.2rem;
  margin-bottom: 0;
}

li > .button{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

li > span{
  display: inline-block;
  margin-right: 35px;
}